<div id="tray">
  <div id="colors">
    <div id="color-buttons">
      <% Drawing::COLORS.each do |color| %>
        <button id="<%= color %>" class="color" style="background-color:<%= color %>"></button>
      <% end %>
    </div>
    
    <div id="html5DIV">
      <input type="color" id="html5colorpicker" class="form-control" value="#ff0000">
    </div>
  </div>

  <div id="tools">
    <div id="tips">
      <% Drawing::TIPS.each do |tip| %>
        <div id="<%= tip %>" class="tip" style="width:<%= tip %>px; height:<%= tip %>px"></div>
      <% end %>
    </div>
    
    <%= image_tag( 'eraser', {class: 'eraser'} ) %>
  </div>
</div>
