<div id="header-div">
  <div class="right">
    <div class="search">
      <%= form_tag :controller => 'drawing', :action => 'index', :method => 'get' do %>
        <%= text_field_tag :keyword, params[:keyword], :id => 'search_field' %>
        <%= submit_tag "Search! ", :content => nil %> 
      <% end %> 
    </div>
  </div>
</div>

<table>
  <td>
    <div id="canvasDiv"></div>
  </td>

  <td>
    <div id="cartoons-header"><h4>Choose Your Favorite</h4></div>
    <div id="all-cartoons">
      <% @cartoons.each do |cartoon| %>
        <div>
          <%= image_tag cartoon.avatar.url(:thumb), id: "cartoon-#{cartoon.id}" %>
        </div>
      <% end %>
    </div>
  </td>

  <td>

    <%= render 'search/create' if @results %>

  </td>
</table>
    <div id="new-cartoon">
      <%= form_for(@cartoon) do |f| %>
        <%= f.label :name, "Upload an Image!" %><br>
        <%= f.text_field :name, placeholder: "Cartoon Name" %>
        <%= f.file_field :avatar %>
      <% end %>
    </div>
