<div id="header-div">
  <div class="left">
    <div id="about">
      <h2><a href="/">iDraw</a></h2>
    </div>
  </div>
  <%= render 'search_form' %>
</div>

<table>
  <tr>
    <td>
      <div id="workspace">
        <%= render 'drawings/workspace/tray' %>
        <%= render 'drawings/workspace/canvases' %>
      </div>
      <%#= render 'upload_form' %>
    </td>

    <td>
      <%= render 'drawings/workspace/sidebar' %>
    </td>

    <td>
      <%= render 'drawings/workspace/all_cartoons' %>
    </td>
  </tr>
</table>

<%= render 'drawings/modals/search_modal' %>
<%#= render 'drawings/modals/about_modal' %>
<%#= render 'drawings/modals/profile_modal' %>
<%= render 'audio' %>

<div id="footer">
  <div class="center">
    Made with <3 by <a href="http://people.flatironschool.com/profiles/jennifer-sardina">Jennifer Sardina</a>
  </div>
</div>