<div id="header-div">
  <div class="right">
    <div class="search">
      <%= form_tag :controller => 'search', :action => 'search', :method => 'get' do %>
        <%= text_field_tag :keyword, params[:keyword], :id => 'search-field' %>
        <%= submit_tag "Search! ", :content => nil %> 
      <% end %> 
    </div>
  </div>
</div>

<table>
  <td>
    <div id="canvasDiv"></div>
  </td>

  <td>
    <div id="cartoons-header"><h4>Choose Your Favorite</h4></div>
    <div id="all-cartoons">
      <img id="solid-white" src="<%= asset_path('solid-white.png') %>"/ height="10px" width="10px">
      <% @cartoons.each do |cartoon| %>
        <div>
          <%= image_tag cartoon.avatar.url(:thumb), class: "cartoon-#{cartoon.id}" %>
        </div>
      <% end %>
    </div>
  </td>
</table>

<div id="new-cartoon">
  <%= form_for(@cartoon) do |f| %>
    <%= f.label :name, "Upload an Image!" %><br>
    <%= f.text_field :name, placeholder: "Cartoon Name" %>
    <%= f.file_field :avatar %>
  <% end %>
</div>

<div id="overlay-base">
  <div id="overlay-main">
    <ul id="overlay-buttons">
      <li><button id="close-overlay">×</button></li>
    </ul>

    <label><h2>Choose Your Favorite!</h2></label>
    <div id="results-div">
      <%#= render 'search/create' if @results %>
    </div>
  </div>
</div>