<div id="header-div">
  HEADER HERE!
</div>

<table>
  <td>
    <div id="canvasDiv"></div>
  </td>

  <td>
    <div id="all-cartoons">
      <h4>Choose Your Favorite!</h4>
      <% @cartoons.each do |cartoon| %>
        <div>
          <%= image_tag cartoon.avatar.url(:thumb), id: "cartoon-#{cartoon.id}" %>
        </div>
      <% end %>
    </div>
  </td>

  <td>
    <div id="new-cartoon">
      <%= form_for(@cartoon) do |f| %>
        <%= f.label :name, "Upload an Image!" %><br>
        <%= f.text_field :name, placeholder: "Cartoon Name" %>
        <%= f.file_field :avatar %>
      <% end %>
    </div>
  </td>
</table>
