<div class="layout" id="header">
  <div class="left">
    <h2 id="about">iDraw</h2>
  </div>

  <div class="right">
    <%= render 'search_form' %>
  </div>
</div>

<table>
    <th></th>
    <th></th>
    <th></th>
    <th>Choose Your Favorite!</th>
 
  <tbody id="page-body">
    <tr>
      <td id="tray-section">
        <%= render 'drawings/workspace/tray' %>
      </td>
      <td id="canvas-section">
        <%= render 'drawings/workspace/canvases' %>
      </td>

      <td id="sidebar-section">
        <%= render 'drawings/workspace/sidebar' %>
      </td>

      <td id="cartoons-section">
        <%= render 'drawings/workspace/all_cartoons' %>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'drawings/modals/search_modal' %>
<%= render 'drawings/modals/about_modal' %>
<%= render 'drawings/modals/profile_modal' %>
<%= render 'drawings/modals/complete_drawing' %>
<%= render 'audio' %>

<div class="layout" id="footer">
  <div class="center">
    Made with <3 by <a target="_blank" href="https://www.linkedin.com/pub/jennifer-sardina/62/955/434">Jennifer Sardina</a>
  </div>
</div>