function listenOnSelections(){
  chooseColor();
  chooseTip();
  chooseCartoon();
  chooseProfile();
  toggleCanvasImage();

  function chooseColor(){
    $("#html5colorpicker").on("change", fromColorPicker);
    fromButtons();

    function fromButtons(){
      <% Drawing::COLORS.each do |color| %>
        $("#<%= color %>").on("click", <%= color %>);
       
        function <%= color %>(){
          var currentColorLetters = context.strokeStyle.split(
            '');
          currentColorLetters.shift();
          var currentColorClass = "." + currentColorLetters.join("");
          $(currentColorClass).attr("style", "background-color: colorName; border-radius:50%; height:50px; width:50px;".replace("colorName", $(currentColorClass).attr("id")
            ));
         
          context.globalCompositeOperation = "source-over";
          context.strokeStyle = "<%= color %>";
          $(this).attr("style", "background-color:<%= color %>;border-radius:50%;height:50px;width:50px;box-shadow: inset 0 0 0 3px #27496d;");

          var newColorLetters = context.strokeStyle.split(
            '');
          newColorLetters.shift();
          var newColorClass = newColorLetters.join("");
          $(this).addClass(newColorClass);
        }
      <% end %>
    }

    function fromColorPicker(){
      context.globalCompositeOperation = "source-over"
      context.strokeStyle = $(this).val();
    }
  }  

  function chooseTip(){
    <% Drawing::TIPS.each do |tip| %>
      $("#<%= tip %>").on("click", chooseSize<%= tip %>);

      function chooseSize<%= tip %>(){
        var currentTip = context.lineWidth.toString();
        var currentTipElement = document.getElementById(currentTip);

        $(currentTipElement).attr("style", "background-color:black;border-radius:50%;height:tipSizepx; width:tipSizepx; display:inline-block;".replace(/tipSize/g, $(currentTipElement).attr("id"))
          )

        context.lineWidth = <%= tip %>;

        $(this).attr("style", "background-color:red; border-radius:50%; height:<%= tip %>px; width:<%= tip %>px; display:inline-block;");
      }
    <% end %>
  }

  function chooseCartoon(){
    <% Cartoon.all.each do |cartoon| %>
      $(document).on("click", ".cartoon-<%= cartoon.id %>", chooseCartoon<%= cartoon.id %>);
      function chooseCartoon<%= cartoon.id %>(){
        if($("#profile").hasClass("color")){
          imageHolderContext.globalAlpha = .8;
        } else {
          imageHolderContext.globalAlpha = 0.3;
        }
        var image = this;
        currentImage = image;
        $(".light-switch").parents("div:first").addClass("switch-on");
        $(".light-switch").removeClass("js-off");
        imageHolderContext.clearRect(0, 0, canvas.width, canvas.height);
        imageHolderContext.drawImage(image, canvas.width/25, 5, canvas.width/4, canvas.height/3.5);
        $(".modal-base").hide();
      }
    <% end %>
  }

  function chooseProfile(){
    $(document).on("click", "#color", function(){
      $("#profile").removeClass();
      $("#profile").addClass("color");
      $(".modal-background").hide();
      $("#color-audio").trigger("play");

      $("#profile-holder").html("<img id='trace' class='profile-thumb' src='<%= asset_path('trace.png') %>'/>");

      $(".switch-holder").hide();
      $("#done-div").html("<div id='remove-image'>Done</div>");

      adjustImageOpacity(1);
    })

    $(document).on("click", "#trace", function(){
      $("#profile").removeClass();
      $("#profile").addClass("trace");
      $(".modal-background").hide();
      $("#trace-audio").trigger("play");

      $("#profile-holder").html("<img id='color' class='profile-thumb' src='<%= asset_path('color.png') %>'/>");

      $("#remove-image").hide();
      $("#switch-div").html("<div class='switch-holder'><div class='light-switch js-off'></div></div>");

      adjustImageOpacity(0.3);
    })
  }

  // function adjustProfile(profile){
  //   $("#profile").removeClass();
  //   $("#profile").addClass("selection".replace("profile", profile));
    // $(".modal-background").hide();
  //   $("#profile-modal").hide();
  //   var adjustedHTML = "<img id='selection' class='profile-thumb' src='<%= asset_path('selection.png') %>'/>".replace(/selection/g, profile);
  //   $("#profile-holder").html(adjustedHTML);
  // }

  function adjustImageOpacity(globalAlpha){
    imageHolderContext.clearRect(0, 0, canvas.width, canvas.height);
    imageHolderContext.globalAlpha = globalAlpha;
    imageHolderContext.drawImage(currentImage, canvas.width/25, 5, canvas.width/4, canvas.height/3.5);
  }

  function toggleCanvasImage(){
    $(document).on("click", ".switch-holder", turnSwitch);

    function turnSwitch(){
      $(this).toggleClass("switch-on");
      $(this).children("div:first").toggleClass("js-off");
      
      if($(this).hasClass("switch-on")){
        imageHolderContext.drawImage(currentImage, canvas.width/25, 5, canvas.width/4, canvas.height/3.5)
      } else {
        imageHolderContext.clearRect(0, 0, canvas.width, canvas.height);
      }
    }
  }
}